.ems-tab {
    position: relative;
    padding-bottom:40px;
    margin-bottom: 50px;
    border-bottom:2px solid $mDark; 
    overflow: hidden;
    .ems-tab-inner{
        /*overflow: hidden;*/
        .dropdown {
            display: none;
            > span {
                display: none;
            }
        }
        > .navigation-js {
            display: flex;
            justify-content: space-between;
            li {
                width: 100%;
                text-align: center;
                padding-right: 2px;
                &:last-child {
                    padding: 0;
                }
                a {
                    width: 100%;
                    background: $lGray;
                    padding: 30px 20px 20px 20px;
                    display: inline-block;
                    /*height: 130px;*/
                    height: 100%;
                    span {
                        font-family:$sbold; 
                        display: block;
                    }
                    i {
                        font-size: 40px;
                        margin-bottom: 20px;
                        display: block;
                        &.icon-ico_sport1 {
                            font-size: 25px;
                            margin: 10px 0 25px 0;
                        }
                        &.icon-ico_sport4 {
                            font-size: 47px;
                            margin: 0px 0 13px 0;
                        }
                        &.icon-ico_sport5 {
                            font-size: 47px;
                            margin: 0px 0 13px 0;
                        }
                        &.icon-ico_sport7 {
                            font-size: 47px;
                            margin: 0px 0 13px 0;
                        }
                        &.icon-ico_sport8 {
                            font-size: 47px;
                            margin: 0px 0 13px 0;
                        }
                    }
                    &:hover {
                        background: $gray;
                        span {
                            color: #fff;
                        }
                        i {
                            color: #fff;
                        }
                    }
                }
                &.selected {
                    a {
                        background: $orange;
                        box-shadow: 0 0 10px 0 rgba(255, 102, 0, 0.52);
                        span {
                            color: #fff;
                        }
                        i {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    &-footer {
        text-align: center;
        a {
           text-decoration: underline;
            color: $blue;
            font-family: "medium";
            margin-top: 30px;
            display: inline-block; 
            &:after {
                content: '\e906';
                font-family: 'icomoon';
                display: inline-block;
                margin-left: 5px;
                font-size: 10px;
                position: relative;
            }
            &:hover {
                &:after {
                    right: -3px;
                }
            }
        }
        
    }
    &-header {
        h4 {
            margin:0;
            font-size: 25px;
            font-family: $sbold;
            margin: 20px 0 30px 0;
            text-align: center;
        }
    }
    &-inner{
        > ul.navigation-js{
            display: table;
            width: 100%;
            > li{
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                a{
                    display: inline-block;
                }
            }
        }
        > ul.content-js{
            > li{
                display: none;
                > a{
                    display: none;
                }
                &.selected{
                    display: block;
                }
                .content{
                    position: relative;
                    .swiper-button-prev, .swiper-button-next {display: none;}
                    .ems-prd {
                        min-height: 290px;
                    }
                    
                }
            }
            .emosInfinite {
                flex-wrap: wrap;
            }
        }
    }
    &-categories{
        width: 50%;
        float: left;
        padding: 15px;
        .ems-tab-inner{
            overflow: hidden;
            > .navigation-js{
                width: 95%;
                max-width: 380px;
                position: absolute;
                z-index: 1;
                top: 60px;
                margin: 0 auto;
                left: 0;
                right: 0;
                border: 3px solid #fff;
                > li{
                    width: 33.333%;
                    border-left: 3px solid #fff;
                    background: rgba(0,0,0,.3);
                    a{
                        font-size: 15px;
                        letter-spacing: 1px;
                        color: #fff;
                        padding: 12px 0;
                    }
                    &:first-child{
                        border: none;
                    }
                    &.selected{
                        background: #fff;
                        a{
                            color: $lDark;
                        }
                    }
                }
            }
            > ul.content-js{
                > li{
                    .content{
                        .mod-cat-cover{
                            background-repeat: no-repeat !important;
                            background-size: cover !important;
                            background-position: center center !important;
                        }
                        .mod-cat-icon{
                            position: absolute;
                            top: 50%;
                            @include setTransform(translateY(-50%));
                            width: 108px;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                            text-align: center;
                        }
                        .mod-cat-link{
                            position: absolute;
                            bottom: 5%;
                            width: 90%;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                            text-align: center;
                        }
                    }
                    &.selected{
                        .content{
                            @include animation(scale 333ms ease);
                        }
                    }
                }
            }
        } 
    }
    
    &-detail{
        .ems-tab-inner{
            padding: 65px 20px 30px 20px;
            > ul.navigation-js{
                max-width: 650px;
                margin: 0 auto 30px auto;
                display: none;
                li{
                    a{
                        border:3px solid $mGray;
                        width: 100%;
                        padding: 14px 0;
                        span{
                            color: $lDark;
                        }
                    }
                    &.selected{
                        a{
                            background-color: #191e23;
                            span{
                                color: #fff;
                            }
                        }
                    }
                }
            }
            > ul.content-js {
                .content-detail{
                    max-width: 1230px;
                    margin: 0 auto;
                    display: flex;
                    border-bottom: 2px solid $mGray;
                    .yt-player{
                        margin-bottom: 30px;
                        .yt-player-inner{position: relative;}
                        &.is-play{
                            .yt-video-btn{
                                opacity: 0;
                                overflow: hidden;
                                visibility: hidden;
                            }    
                        }
                        .yt-video-btn{
                            position: absolute;
                            height: 48px;
                            width: 48px;
                            margin: -24px auto 0 auto;
                            left: 0;
                            right: 0;
                            top: 50%;
                            @include transition(all .2s ease);
                            &:after{
                                font-family: 'icomoon';
                                content: '\e913';
                                font-size: 48px;
                                height: 48px;
                                width: 48px;
                                color: #fff;
                            }
                            span{display: none;}
                        }
                    }
                    .yt-cover{
                        position: relative;
                        padding-bottom: 56.25%;
                        padding-top: 25px;
                        height: 0;
                        .yt-player{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .ems-prd-detail-desc {
                        width: 60%;
                        align-self: baseline;
                    }
                    .ems-product-mini-compact {
                        width: 40%;
                        margin-bottom: 40px;
                        &-inner {
                            width: auto !important;
                        }
                        &-header {
                            max-width: 200px;
                            border: 1px solid $lGray;
                            margin-bottom: 20px;
                        }
                        .ems-prd-price-kargo {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    &-sss{
        border: 0;
        .ems-tab-inner{
            > .navigation-js{display:none;}

            > ul.content-js > li{
                border-bottom: 3px solid #ededed;
                &:first-child{
                    border-top: 3px solid #ededed;    
                }
                > a{
                    padding: 20px 60px 20px 10px;
                    display: block;
                    position: relative;
                    text-align: left;
                    span{
                        font-size: 20px;
                        font-family: $bold;
                        color: #231f20;
                    }
                    &:after{
                        content:'\e920'; 
                        font-family: 'icomoon'; 
                        font-size: 12px;
                        width: 12px;
                        height: 12px;
                        color: #231f20;
                        position: absolute;
                        top: 50%;
                        margin-top: -10px;
                        right: 20px;
                    }
                }
                display: block;
                &.selected{
                    > a{
                        &:after{
                            content:'\e91c';
                        }
                    }
                    .content{
                        display: block;
                    }
                }
                .content{
                    display: none;
                    text-align: left;
                    padding:0 50px 20px 20px;
                    font-size: 18px;
                    font-family: $regular;
                    p{
                        margin-top: 10px;
                        &:first-child{margin-top: 0;}
                        &.margin10{ margin-top: 10px; }
                    }
                }
            }
        }
    }
    &.discount-outdoor {
        border: 0;
        padding: 0;
        margin: 50px 0;
        .ems-tab {
            border: 0;
            padding: 0; 
            margin: 0;
            ul {
                li {
                    height: auto;
                }
            }
        }
        .ems-tab-header {
            margin-bottom: 20px;
            text-align: center;
            h5 {
                font-family: $sbold;
                font-size: 15px;
                margin: 0;
            }
            h4 {
                font-family: $sbold;
                font-size: 25px;
                margin: 0;
            }
        }
        .ems-tab-inner {
            .nav-level-1 {
                display: inline-block;
                text-align: center;
                /*margin-bottom: 30px;*/
                li {
                    width: 100%;
                    max-width: 200px; 
                    display: inline-block;
                    padding: 0 10px;
                    a {
                        width: 100%;
                        border-radius: 3px;
                        border:2px solid $orange;
                        color: $orange;
                        background: none;
                        height: auto;
                        padding: 13px 20px 13px 20px;
                        &:hover {
                            background: $orange;
                            color: #fff;
                        }
                    }
                    &.selected {
                        a {
                            background: $orange;
                            box-shadow: none;
                        } 
                    }
                }
            }
            .nav-level-2 {
                margin-top: 30px;
                li {
                    &:first-child {
                        a {
                            i {
                                border: 2px solid #000;
                                border-radius: 2px;
                                font-size: 16px;
                            }
                        }
                    }
                    a {
                        height: 100%;
                        padding: 40px 20px 34px 20px;
                        i {
                            font-size: 35px;
                            margin: 0 auto 20px auto;
                            padding: 6px 0;
                            width: 33px;
                            height: 33px;
                            font-family: $medium;
                        }
                    }
                    &:hover {
                        a {
                            i {
                                color: #fff;
                                border-color: #fff;
                            }
                        }
                    }
                    &.selected {
                        a {
                            i {
                                color: #fff;
                                border-color: #fff;
                            }
                            span {
                                position: relative;
                                &:before {
                                    content:'\e904';
                                    font-family: 'icomoon';
                                    font-size: 9px;
                                    color: #fff;
                                    position: absolute;
                                    left: 0;
                                    right: 0; 
                                    margin: 0 auto;
                                    top: 25px;
                                }
                            }
                        }
                    }
                }
            }
            .content-level-2 {
                display: flex;
                justify-content: space-between;
                li {
                    width: 100%;
                    text-align: center;
                    padding-right: 2px;
                    > a {display: none !important;}
                    a {
                        height: auto;
                        padding: 40px 20px 34px 20px;
                    }
                    .content {
                        margin-top: 10px;
                        a {
                            display: inline-block !important;
                            font-family: $sbold;
                            background: $lGray;
                            padding: 30px 20px;
                            &:hover {
                                background: $gray;
                                color: #fff;
                            }
                            &:active {
                                background: $orange;
                                box-shadow: 0 0 10px 0 rgba(255, 102, 0, 0.52);
                            }
                            i {
                                font-size: 40px;
                                margin-bottom: 20px;
                                display: block;
                            }
                            img {
                                height: 20px;
                            }
                        }
                    }
                    &.selected {
                        a {
                            display: inline-block;
                            width: 100%;
                        }
                    }
                    ul {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        justify-content: left;
                        li {
                            float: left;
                            width: auto;
                            padding-bottom: 2px;
                            min-width: 100px;
                        }
                    }
                    &[rel="cat"] {
                        ul {
                            li {
                                width: 25%; 
                                min-width: auto;
                            }
                        }
                    }
                }
            }
        }
    }
    /* Tab Widget */
    &-widget {
        .swiper-pagination-bullets {
            display: none; 
        }
        .ems-tab-inner {
            > ul.content-js{   
                > li {
                    .content {
                        height: 350px
                    }
                    &.ajx-loaded {
                        .content {
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $breakpointXSM){
    .ems-tab {
        padding-bottom: 20px;
        .ems-tab-inner{ 
            > ul.content-js{
                .emosInfinite {
                    flex-wrap: nowrap;  
                }
            }
        }
        &-categories{
            width: 100%;
            float: none;
            padding: 0;
            .ems-tab-inner{
                > .navigation-js{
                    top: 17px;
                }
                > ul.content-js{
                    display: none !important;
                    > li{
                        .content{
                            .mod-cat-cover{
                                img{ opacity: 0; visibility: hidden; }
                            }
                            .mod-cat-icon{ width: 80px; }
                        }
                    }
                }
            }
        }
        &-detail{
            .ems-tab-inner{
                padding: 20px 0;
                > ul.navigation-js{
                    padding-left: 20px;
                    padding-right: 20px;
                }
                > ul.content-js {
                    .content-detail {
                        flex-direction: column-reverse;
                        padding: 0 20px;
                        > div {
                            width: 100% !important;
                        }
                        .ems-product-mini-compact-header {max-width: none; margin: 0;}
                        .ems-product-mini-compact-body {display: none;}
                    }
                }
            }
        }
        /* Anasayfa Çok Satan */
        &-widget {
            /*padding: 0 15px;*/
            border: 0;
            margin: 0;
            .ems-tab-footer {
                display: none;
            }
            .ems-tab-inner{
                overflow: hidden !important;
                > .navigation-js{
                    display: none;
                    top: 17px;
                }
                .content-js {
                    /*.content {display: none}*/
                }
                .dropdown {
                    display: block;
                    max-width: 320px;
                    margin: 0 auto;
                    position: relative;
                    span {
                        display: block;
                        align-items: center;
                        border-color: #000;
                        i {
                            font-size: 10px;
                            float: right;
                            padding: 13px 10px;
                        }
                    }
                    > span {
                        line-height: 40px;
                    }
                    &.opened {
                        > span {
                            &:after {
                                content: '';
                                height: 1px;
                                background: $lGray;
                                display: block;
                                margin: 0 auto;
                                width: 100%;
                            }
                            i {
                                &:before {
                                    content: '\e907';
                                    margin-top: 1px;
                                }
                            }
                        }
                        .navigation-js {
                            display: block;
                        }
                    }
                }
                .navigation-js {
                    position: absolute;
                    border: 1px solid #000;
                    width: 100%;
                    z-index: 3;
                    background: #fff;
                    border-top: 0;
                    margin-top: -2px;
                    display: none;
                    li {
                        a {
                            display: block;
                            padding: 15px 10px;
                        }
                        i {
                            display: none;
                        }
                    }
                }
            }
        }
        &.discount-outdoor {
            .ems-tab-inner {
                .nav-level-1 {
                    display: flex;
                    li {
                        padding: 0;
                        max-width: none;
                        a {
                            border-radius: 0;
                            border-right:0; 
                        }
                        &:last-child {
                            a {
                                border-right:2px solid $orange; 
                            }
                        }
                    }
                }
                .nav-level-2 {
                    > li {
                        display: flex;
                        height: auto;
                        a {
                            height: 100%;
                        }
                    }
                }

                .content-level-2 {
                    .content {
                        text-align: left;
                    }
                    ul {
                        li {
                            width: auto !important;
                            &.selected {
                                display: inline-block;
                                width: 10%;
                            }
                        }
                    }
                }
            }
        }
    }
}