/*General Definations*/
$baseHref: '//test.korayspor.com/'; 
$baseHref2: '//test.koraysporfutbol.com/'; 
$baseHref3: '//test.koraysporcocuk.com/'; 
$baseHref4: '//test.koraysporkosu.com/'; 
$baseHref5: '//test.koraysporbasketbol.com/'; 

$marginAuto: 0 auto 0 auto;
$singleOuter: 1.6rem;

$siteContainerWidth: 1620px;
$siteContainerWidthMiddle: 940px;
$siteContainerWidthFull:100%;

/*site Rgba Background*/
$rgbBg: rgba(35,31,32,0.95);
$bold: "bold";
$sbold: "sbold";
$regular: "regular";
$medium: "medium";
$tl:"tl";

/* Koray Color */

$orange:#ff6600; 
$gray:#252525;
$mGray:#c9c9c9; 
$lGray:#f5f5f5;
$mDark:#8c8c8c;
$blue:#0066ff;
$red:#ad3924;
$wbg:#eeeff1;

/*Site Colors*/
$ffYellowL:#fff;
$fdYellow:#fff;
$btnColor: #252525;
$btnAlternateColor:#ff6600;
$edGray:#ededed;
$eGray:#eeeeee;
$lDark:#231f20; 
$darkBlack:#1a1718;
$border:#e9e9e9;
$fbBtnColor:#304b92;
$inputborder:#bebebe;
$color34:#c9c9c9;
$aGray:#8c8c8c;
$Gray42:#252525;
$Gray41:#252525;